.navbar {
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 8, 12, 1);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    transition: 1s;
    animation: fadeDown 1s ease-in-out;
}

@keyframes fadeDown {
      from { opacity: 0; transform: translateY(-20px); }
      to { opacity: 1; transform: translateY(0); }
    }

.navHeadp1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
    letter-spacing: 2px;
    /* border: 1px solid blue; */
    color: rgb(100, 170, 240);
}

.navigation nav a{
    margin-left: 50px;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.8);
    /* animation: popIn 2s ease forwards; */
    
}



.navigation nav a:hover {
    color: rgb(100, 170, 240);
    transition: 2s;
    animation: popIna 1s ease forwards;
    /* border-radius: 2px; */
    /* text-decoration: underline; */
    /* border-bottom: 3px solid rgba(255, 255, 255, 0.8); */
    /* padding-bottom: 5px; */
}

@keyframes popIna {
      from { opacity: 0; transform: scale(0.95); }
      to { opacity: 1; transform: scale(1); }
    }

.home {
    /* height: 500px; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 8, 12, 1);
    
}


.home1 {
    height: 600px;
    /* border: 1px solid blue; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(0, 0, 0, 0.8); */
}

.home1a {
    /* border: 1px solid green; */
    margin: 0;
    padding: 0;
}

.home1p1 {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.8);
}

.home1p2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5em;
    margin: 0;
    padding: 0;
    color: rgb(100, 170, 240);
    animation: popIn 1s ease forwards;
}

 @keyframes popIn {
      from { opacity: 0; transform: scale(0.95); }
      to { opacity: 1; transform: scale(1); }
    }

.home1p3 {
    font-family: sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.5);
}

.home2 {
    height: 600px;
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home2a {
    height: 500px;
    width: 60%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.home2a1 {
    height: 500px;
    width: 100%;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    animation: popIn 0.8s ease forwards;
}

 @keyframes popIn {
      from { opacity: 0; transform: scale(0.95); }
      to { opacity: 1; transform: scale(1); }
    }

.about {
    /* height: 700px; */
    /* border: 1px solid black; */
    /* background: rgba(0, 0, 0, 0.825); */
    background: rgba(0, 8, 12, 0.95);
}

.about1 {
    height: 100px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about1p1 {
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.8);
}

.about2 {
    height: 600px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about2a {
    width: 60%;
    height: 500px;
    /* border: 1px solid black; */
}

.about2ap1 {
    /* border: 1px solid blue; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.about2a1 {
    height: 325px;
    /* border: 1px solid green; */
}

.about2a1a {
    height: 54px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about2a1ap1 {
    height: 54px;
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.5);
}

.about2a1ap2 {
    height: 54px;
    /* border: 1px solid yellow; */
    margin: 0;
    padding: 0;
    width: 50%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.5);
}

.aboutCV {
    height: 100px;
    /* border: 1px solid blueviolet; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hireme {
    height: 50px;
    width: 20%;
    border-radius: 25px;
    /* background: rgba(0, 100, 150, 0.8); */
    background: rgb(100, 170, 240, 0.3);
    border: none;
    outline: none;
    font-size: 1.2em;
    /* font-weight: bold; */
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
    transition: .5s;
}

.hireme:hover {
    box-shadow: 0 0 10px rgb(100, 170, 240, 0.3);
    background: rgba(0, 0, 0, 0.2);
}

.cv {
    height: 50px;
    width: 30%;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
    transition: .5s;
}

.cv:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    background: rgb(100, 170, 240, 0.3);
}

.skills {
    /* height: 650px; */
    /* border: 1px solid black; */
    /* background: rgba(0, 0, 0, 0.8); */
    background: rgba(0, 8, 12, 1);
}

.skills1 {
    height: 100px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills1p1 {
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.8);
}

.skills2 {
    /* height: 550px; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.skills2a {
    /* height: 250px; */
    width: 30%;
    /* border: 2px solid black; */
    border-radius: 10px;
    /* background: rgba(0, 0, 0, 0.2); */
    /* background: rgba(0, 8, 12, 1); */
    background: rgba(255, 255, 255, 0.05);
    margin: 15px 0;
    transition: .5s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /* box-shadow: 0 0 10px rgb(100, 170, 240);     */
}

.skills2a:hover {
    transform: translateY(-20px);
    /* box-shadow: 0 0 10px rgb(100, 170, 240); */
    box-shadow: 0 0 10px rgb(100, 240, 170);
}

.html:hover {
    box-shadow: 0 0 10px orangered;
}

.css:hover {
    box-shadow: 0 0 10px skyblue;
}

.sql:hover {
    box-shadow: 0 0 10px rgb(29, 71, 153);
}

.javascript:hover {
    box-shadow: 0 0 10px yellow;
}

.skills2a1 {
    height: 100px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillicon {
    font-size: 4em;
    margin: 0;
    padding: 0;
}

.skills2a2 {
    height: 50px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills2a2p1 {
    font-size: 1.5em;
    /* font-weight: bold; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.8);
}

.skills2a3 {
    height: 100px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills2a3p1 {
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.works {
    /* height: 600px; */
    /* border: 1px solid black; */
    /* background: rgba(0, 0, 0, 0.825); */
    background: rgba(0, 8, 12, 0.95);
}

.works1 {
    height: 100px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.works1p1 {
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.8);
}

.works2 {
    /* height: 500px; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.works2a {
    /* height: 475px; */
    width: 25%;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 15px;
    
}



.works2a1 {
    height: 200px;
    /* border: 1px solid greenyellow; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 10px 10px 0 0; */
}

.worksajio {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(25, 60, 100, 0.25);
    transition: .5s;
}

.worksajiop1 {
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
}

.workslogin {
    height: 200px;
    width: 100%;
    transition: .5s;
}

.worksportfolio {
    height: 200px;
    width: 100%;
    transition: .5s;
}

.worksajio:hover, .workslogin:hover, .worksportfolio:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 5px rgb(100, 170, 240);
}

.works2a2 {
    height: 75px;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
}

.works2a2p1 {
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 5%;
    padding: 0;
}

.works2a4 {
    /* height: 125px; */
    display: flex;
    align-items: center;
}

.works2a4p1 {
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 5%;
}

.works2a3 {
    height: 75px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    position: relative;
}

.worksBtn {
    height: 40px;
    width: 30%;
    border-radius: 20px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(0, 100, 150, 0.8); */
     background: rgb(100, 170, 240, 0.3);
    color: rgba(255, 255, 255, 0.7);
    border: none;
    outline: none;
    position: absolute;
    right: 5%;
    transition: .5s;
}

.worksBtn:hover {
    box-shadow: 0 0 10px rgb(100, 170, 240, 0.3);
    background: rgba(0, 0, 0, 0.2);
}

.contact {
    /* height: 700px; */
    /* border: 1px solid black; */
    background: rgba(0, 0, 0, 0.8);
    background: rgba(0, 8, 12, 1);
}

.contact1 {
    height: 100px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact1p1 {
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
}

.contact2 {
    /* height: 600px; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact2a {
    /* height: 400px; */
    width: 30%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact2a1 {
    height: 75px;
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact2a1a {
    height: 50px;
    width: 50px;
    
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.contact2a1a:hover {
    border: 2px solid rgb(100, 170, 240);
}

.contacticon {
    font-size: 1.5em;
    color: rgb(100, 170, 240);
    transition: .5s;
}

.contacticon:hover {
    text-shadow: 0 0 10px rgb(100, 170, 240);
}

.contact2a1b {
    height: 75px;
    width: 70%;
    /* border: 1px solid pink; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.contact2a1bp1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.5);
    transition: 1s;
}

.contact2a1bp1:hover{
    color: rgb(145, 195, 245);
}

.contact2b {
    height: 500px;
    width: 60%;
    /* border: 1px solid pink; */
}

.contact2b1 {
    height: 100px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact2b1a {
    width: 50%;
    height: 100px;
    /* border: 1px solid blue; */
}

.contact2b1ap1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    font-size: 1.05em;
    color: rgba(255, 255, 255, 0.8);
    margin: 5px;
    padding: 0;
}

.contactinput {
    height: 50px;
    width: 80%;
    border: none;
    outline: none;
    
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.5);
    padding: 0 5%;
    transition: 1s;
}

.contactinput::placeholder {
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

.contactinput:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.contactinput:focus{
    border: 2px solid rgb(100, 170, 240);
    box-shadow: none;
}

.contact2b2 {
    height: 300px;
    /* border: 1px solid blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact2b2a {
    height: 300px;
    width: 100%;
    /* border: 1px solid red; */
}

.contact2b2ap1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    font-size: 1.05em;
    color: rgba(255, 255, 255, 0.8);
    margin: 5px;
    padding: 0;
}

.contactmessage {
    height: 250px;
    width: 93%;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.5);
    padding: 1%;
    transition: 1s;
}

.contactmessage:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.contactmessage:focus{
    border: 2px solid rgb(100, 170, 240);
    box-shadow: none;
}

.contact2b3 {
    height: 100px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendmessage {
    height: 50px;
    width: 60%;
    border-radius: 30px;
    border: none;
    outline: none;
    /* background: rgba(0, 100, 150, 0.8); */
     background: rgb(100, 170, 240, 0.3);
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 1s;
}

.sendmessage:hover {
    box-shadow: 0 0 10px rgb(100, 170, 240, 0.3);
     background: rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navigation {
        display: none;
    }

    .home {
        display: flex;
        flex-wrap: wrap;
    }

    .home1 {
        width: 80%;
    }

    .home2 {
        width: 80%;
    }

    .home2a {
        width: 80%;
    }


    .about2a {
        width: 90%;
    }

    .about2ap1 {
        font-size: 1.5em;
    }

    .hireme {
        width: 30%;
    }

    .cv {
        width: 40%;
    }

    .skills2 {
        display: flex;
        flex-wrap: wrap;
    }

    .skills2a {
        width: 80%;
        /* margin: 15px 0; */
    }

    .works2 {
        display: flex;
        flex-wrap: wrap;
    }

    .works2a {
        width: 80%;
    }
    

    .contact2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .contact2a {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact2a1 {
        width: 10%;
    }

    .contact2a1a {
        width: 25px;
        height: 25px;
    }

    .contacticon {
        font-size: 1em;
    }

    .contact2b {
        width: 80%;
    }

    .contact2a1b {
        display: none;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .navbar {
        display: flex;
        flex-wrap: wrap;
    }

    .home {
        display: flex;
        flex-wrap: wrap;
    }

    .home1 {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home2 {
        width: 58%;
    }

    .home1p2 {
        font-size: 3.8em;
    }

    .home2a {
        width: 70%;
    }

    .about2a {
        width: 80%;
    }

    .about2ap1 {
        font-size: 2em;
    }

    .hireme {
        width: 25%;
    }

    .cv {
        width: 35%;
    }

    .skills2 {
        display: flex;
        flex-wrap: wrap;
    }

    .skills2a {
        width: 48%;
        /* margin: 15px 0; */
    }

    .skills2a1 {
        height: 75px;
    }

    .skillicon {
        font-size: 3em;
    }

    .skills2a3 {
        height: 125px;
    }

     .works2 {
        display: flex;
        flex-wrap: wrap;
        
    }

    .works2a {
        width: 40%;
        margin: 3%;
    }

    .contact2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .contact2a {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact2a1 {
        width: 10%;
    }

    .contact2a1a {
        width: 25px;
        height: 25px;
    }

    .contacticon {
        font-size: 1em;
    }

    .contact2b {
        width: 80%;
    }

    .contact2a1b {
        display: none;
    }

}